[Unit]
Description=example_bot
After=network.target mongod.service redis.service

[Service]
Type=simple
WorkingDirectory=/home/user/example_bot
ExecStart=/home/user/example_bot/venv/bin/python -m app
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
